body {
  align-items: center;
  background-color: #000;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
/* nav{
  background-color: #000;
} */
.navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar {
  z-index: 101;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
     box-shadow: none !important;
}
.form {
 
  background-color: #15172b;
  position: absolute;
  max-width: 50%;
  width: 100%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow:rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 50px 100px;
  z-index: 100;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 165px;
}

.cut-short {
  width: 50px;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
  transform: translateY(8px);
}

.placeholder {

  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown)~.placeholder {
  color: #808097;
}

.input:focus~.placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #565678;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}
.submit:hover{
  background-color: #3b3b60;
}
.submit:active {
  background-color: #414187;
}

.btn {
  color: white;
  font-weight: 500;
  background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.button_nav {
  font-family: inherit;
  font-size: 17px;
  background: none;
  border: none; 
  color: white;
  padding: 0.3em 1em;
  padding-left: 0.5em;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: all 0.2s;
  letter-spacing: 2px;
}
.button_nav a span {
  display: block;
  margin-left: 0.5em;
  transition: all 0.3s ease-in-out;
}

.button_nav svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.button_nav:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;

}

.button_nav:hover .svg1 {
  transform: translateX(4.5em);
}

.button_nav:hover .svg2 {
  transform: translateX(3em) rotate(45deg) scale(1.1);
}
.button_nav:hover .svg3 {
  transform: translateX(3em) rotate(45deg) scale(1.1);
}

.button_nav:hover a span {
  transform: translateX(10em);
}

.button_nav:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}

.footer {
  padding-top: 1%;
  text-align: center;
  height: 10%;
  top: 90%;
  position: absolute;
  background-color: #000;
  width: 100%;
}

@media screen and (max-width: 786px) {
  .bodysss {
    padding: 30px 15px;
    max-width: 80%;
  }
}


.footer_bottom {
  position: relative;
  top: 86%
}

p {
  bottom: 10px;
  color: white;

  font-size: 15px;
}

.area {
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;


}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;

}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.new_footer_top .footer_bg {
  position: absolute;
  bottom: 60px;
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat center 0;
  width: 100%;
  height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
  width: 330px;
  height: 105px;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
  width: 88px;
  height: 100px;
  background-size: 100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

@media screen and (max-width: 714px) {
  .form {
    padding: 30px 15px;
    max-width: 80%;
    top: 55%;
  }

  .placeholder {
    font-size: 13px;
  }

  .new_footer_area {
    display: none;
  }
  
}
@media screen and (max-width: 294px){
img{
  width: 60px;
  margin-left: -40px;
}
.button_nav{
  padding: 0px 0px;
}
.svg3,.svg1,.svg2{
  padding-left: 0px;
}
.button_nav a span{
  font-size: small;
}
.btn_group{
  margin-top: 10px;
  margin-left: 12px;
  margin-bottom: 12px;
}

}
@media screen and (max-width: 712px){
  .button_nav{
    padding: 0px 0px;
  }
  .svg3,.svg1,.svg2{
    padding-left: 7px;
  }
  .button_nav a span{
    margin-left: 0;
  }
  .btn_group{
    margin-top: 18px;
    margin-left: 19px;
    margin-bottom: 13px;
  }
}
@media screen and (max-width: 381px) {
  
.button_nav{
  padding: 0px 0px;
}
.svg3,.svg1,.svg2{
  padding-left: 7px;
}
.button_nav a span{
  margin-left: 0;
}
.btn_group{
  margin-top: 18px;
  margin-left: 19px;
  margin-bottom: 13px;
}
}
